In [4]:
import os

In [5]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'Read csv.ipynb',
 'Read excel.ipynb',
 'Read from url.ipynb',
 'Read json.ipynb',
 'Read txt.ipynb',
 'README.md',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx']

In [6]:
import pandas

In [7]:
data_file1 = pandas.read_csv("supermarkets.csv")
data_file1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [8]:
data_file1 = pandas.read_csv("supermarkets.csv", header = None)
data_file1

,0,1,2,3,4,5,6
0,ID,Address,City,State,Country,Name,Employees
1,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [17]:
df = pandas.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [19]:
df.set_index("Address") #not overriding our original variable df

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [20]:
df # .set_index() is not overriding command so we have to equal it to original variable to store our results with index "Address"

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [21]:
df = df.set_index("Address")
df

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [22]:
df.loc["3666 21st St":"3995 23rd St","State":"Name"]

                           State Country         Name
Address
3666 21st St            CA 94114     USA      Madeira
735 Dolores St          CA 94119     USA  Bready Shop
332 Hill St     California 94114     USA  Super River
3995 23rd St            CA 94114     USA   Ben's Shop

In [23]:
df.loc["3666 21st St","Name"]

'Madeira'

In [25]:
name_list = list(df.loc[:,"Name"])
name_list

['Madeira',
 'Bready Shop',
 'Super River',
 "Ben's Shop",
 'Sanchez',
 'Richvalley']

In [26]:
#above is label based database accessing, you can sort, serach and do the operations according to your imagination.
#Now we will look into index based database accessing

In [27]:
df.iloc[1:5,2:5] #iloc is for index base accessing

                            State Country         Name
Address
735 Dolores St           CA 94119     USA  Bready Shop
332 Hill St      California 94114     USA  Super River
3995 23rd St             CA 94114     USA   Ben's Shop
1056 Sanchez St        California     USA      Sanchez

In [28]:
df.iloc[:,2:5]

                            State Country         Name
Address
3666 21st St             CA 94114     USA      Madeira
735 Dolores St           CA 94119     USA  Bready Shop
332 Hill St      California 94114     USA  Super River
3995 23rd St             CA 94114     USA   Ben's Shop
1056 Sanchez St        California     USA      Sanchez
551 Alvarado St          CA 94114     USA   Richvalley

In [30]:
df.iloc[2,2:5] #only for one row but see the output now indexing starts from 0 so accessing the 3rd data row we are using 2 as params

State      California 94114
Country                 USA
Name            Super River
Name: 332 Hill St, dtype: object

In [31]:
df.ix[1:3,"Name"] #now we will see the combined index and labeled based accessging

Address
735 Dolores St    Bready Shop
332 Hill St       Super River
Name: Name, dtype: object

In [32]:
df.ix[1:3,"Country":"Name"]

               Country         Name
Address
735 Dolores St     USA  Bready Shop
332 Hill St        USA  Super River

In [33]:
df.ix["735 Dolores St":"332 Hill St",2:5]

                           State Country         Name
Address
735 Dolores St          CA 94119     USA  Bready Shop
332 Hill St     California 94114     USA  Super River

In [34]:
df.ix[1:4,2:5]

                           State Country         Name
Address
735 Dolores St          CA 94119     USA  Bready Shop
332 Hill St     California 94114     USA  Super River
3995 23rd St            CA 94114     USA   Ben's Shop

In [35]:
df.ix["735 Dolores St":"332 Hill St","Country":"Name"]

               Country         Name
Address
735 Dolores St     USA  Bready Shop
332 Hill St        USA  Super River

In [36]:
#it means we can use .ix for both label and index based accessging so we can forget about .loc and .iloc

In [37]:
#but ix is not recommanded for all the time becuase loc and iloc sometimes avoids error which we can get with ix

In [38]:
#Now we will see how to delete a column or a row

In [41]:
df1 = df.drop("City", 1) #1 here is indication of a column
df1

                 ID             State Country         Name  Employees
Address
3666 21st St      1          CA 94114     USA      Madeira          8
735 Dolores St    2          CA 94119     USA  Bready Shop         15
332 Hill St       3  California 94114     USA  Super River         25
3995 23rd St      4          CA 94114     USA   Ben's Shop         10
1056 Sanchez St   5        California     USA      Sanchez         12
551 Alvarado St   6          CA 94114     USA   Richvalley         20

In [43]:
df2 = df.drop("332 Hill St", 0) # 0 is indication of a row
df2

                 ID           City       State Country         Name  Employees
Address
3666 21st St      1  San Francisco    CA 94114     USA      Madeira          8
735 Dolores St    2  San Francisco    CA 94119     USA  Bready Shop         15
3995 23rd St      4  San Francisco    CA 94114     USA   Ben's Shop         10
1056 Sanchez St   5  San Francisco  California     USA      Sanchez         12
551 Alvarado St   6  San Francisco    CA 94114     USA   Richvalley         20

In [44]:
df.drop(df.index[0:2],0)

,ID,City,State,Country,Name,Employees
Address,,,,,,
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [45]:
df.drop(df.columns[0:2],1)

                            State Country         Name  Employees
Address
3666 21st St             CA 94114     USA      Madeira          8
735 Dolores St           CA 94119     USA  Bready Shop         15
332 Hill St      California 94114     USA  Super River         25
3995 23rd St             CA 94114     USA   Ben's Shop         10
1056 Sanchez St        California     USA      Sanchez         12
551 Alvarado St          CA 94114     USA   Richvalley         20

In [46]:
df.index #gives for the rows

Index(['3666 21st St', '735 Dolores St', '332 Hill St', '3995 23rd St',
       '1056 Sanchez St', '551 Alvarado St'],
      dtype='object', name='Address')

In [47]:
df.columns #gives you column names so that how you access the rows and columns indexing

Index(['ID', 'City', 'State', 'Country', 'Name', 'Employees'], dtype='object')

In [48]:
#Now we will try to add in new rows in the data
df["Continent"] = ["North America"]

ValueError: Length of values does not match length of index

In [49]:
#We get a value error "Length of values does not match length of index"
#so we can have to "Continent" equal to number of index

In [50]:
len(df.index)

6

In [51]:
# one way is add the 6 values in the list and then add or do bellow mentioned 
df["Continent"] = df.shape[0]*["North America"]

In [52]:
df

,ID,City,State,Country,Name,Employees,Continent
Address,,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8,North America
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15,North America
332 Hill St,3,San Francisco,California 94114,USA,Super River,25,North America
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10,North America
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12,North America
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20,North America

In [53]:
df.shape #let's see what shape is

(6, 7)

In [54]:
#means we have 6 rows and 7 columns

In [55]:
df.shape[0]

6

In [56]:
df.shape[0]*["North America"]

['North America',
 'North America',
 'North America',
 'North America',
 'North America',
 'North America']

In [57]:
#Do the same thing as creating the list of 6 elements manually

In [58]:
df["Continent"] = df["Country"] + " , " + "North America" #updating the dataframe
df

,ID,City,State,Country,Name,Employees,Continent
Address,,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8,"USA , North America"
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15,"USA , North America"
332 Hill St,3,San Francisco,California 94114,USA,Super River,25,"USA , North America"
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10,"USA , North America"
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12,"USA , North America"
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20,"USA , North America"

In [59]:
#See Continent column is updated

In [60]:
#adding a new row is a little tricky with pandas

In [61]:
df_t = df.T

In [62]:
df_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
ID,1,2,3,4,5,6
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Country,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
Employees,8,15,25,10,12,20
Continent,"USA , North America","USA , North America","USA , North America","USA , North America","USA , North America","USA , North America"

In [63]:
df_t["New Address"] = ["7", "New City", "New State", "New Country", "New Name", "21", "New Continent"] 
#now we will add new column in tranpose of df which is df_t

In [64]:
df_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St,New Address
ID,1,2,3,4,5,6,7
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,New City
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114,New State
Country,USA,USA,USA,USA,USA,USA,New Country
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley,New Name
Employees,8,15,25,10,12,20,21
Continent,"USA , North America","USA , North America","USA , North America","USA , North America","USA , North America","USA , North America",New Continent

In [66]:
#Now take the transpose again and equal it to the df
df = df_t.T

In [67]:
#New row is added
df

,ID,City,State,Country,Name,Employees,Continent
Address,,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8,"USA , North America"
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15,"USA , North America"
332 Hill St,3,San Francisco,California 94114,USA,Super River,25,"USA , North America"
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10,"USA , North America"
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12,"USA , North America"
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20,"USA , North America"
New Address,7,New City,New State,New Country,New Name,21,New Continent

In [69]:
#We will use the transpose trick to update a row
df_t["3666 21st St"] = ["1", "Updated City", "Updated State", "USA", "Updated Name", "10", "Updated Continent"]

In [70]:
df = df_t.T
df

,ID,City,State,Country,Name,Employees,Continent
Address,,,,,,,
3666 21st St,1,Updated City,Updated State,USA,Updated Name,10,Updated Continent
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15,"USA , North America"
332 Hill St,3,San Francisco,California 94114,USA,Super River,25,"USA , North America"
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10,"USA , North America"
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12,"USA , North America"
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20,"USA , North America"
New Address,7,New City,New State,New Country,New Name,21,New Continent

In [71]:
#Row is updated